html, body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: auto;
    background-color: #eee;
}

iframe
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.frame_div {
    position: absolute;
    padding-top: 50px; 
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.header
{
    padding: 8px;
    font-size: 20px;
    max-width: 220px;
    position: fixed;
    left: 0px;
}

.browser
{
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.header * {
    font-size: 20px;
}

.hosts {
    text-align: center;
    font-size: 14px;
}
.hosts b {
    font-size: 14px;
}

.rel_message {
    font-size: 16px;
    color: red;
    font-style: italic;
    display: none;
}

/* Do not set width/height for VNC_screen or VNC_canvas or incorrect
* scaling will occur. Canvas resizes to remote VNC settings */
#noVNC_screen {
    display: table;
    width: auto;
    height: auto;
    margin: auto;
    background-color:#313131;
    line-height: 0;
}

#noVNC_canvas {
    /* position: absolute; */
    left: 0;
    right: 0;
    margin: 0;
}
