html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: #f0f0f0;
    font-size: 13px;
}

iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    .frame_div {
        position: absolute;
        padding-top: 50px; 
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

.loading {
    background-image: url(spinner.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.alert {
    animation: pulse 1s ease infinite;
}
    @keyframes pulse {
        0%      {color: #222;}
        50%     {color: #fc0;}
        100%    {color: #222;}
    }

 ul {padding-left: 2ex; margin-bottom: 2px;}

    li {
        margin: 0;
        position: relative;
        list-style: none;
    }
        li:before {
            content: '-';
            font-weight: bold;
            position: absolute;
            left: -1.5ex;
        }


/* front page */

#frontpage {font-size: 13px;}

    #frontpage h1 {
        margin-bottom: 3rem;
        margin-top: 1rem;
        font-size: 32px;
        font-weight: normal;
    }

    #frontpage form {}

        #frontpage form .row {
            margin-bottom: 1rem;
        }

            #frontpage form .one.columns label {
                width: 100%;
                text-align: right;
            }
                label[for=browser-dropdown],
                label[for=datetime-dropdown] {
                    line-height: 60px;
                }
                label[for=urlinput] {
                    line-height: 38px;
                }


    #frontpage button {margin: 3rem 0 1rem;}
    
    .section {
        margin-top: 5rem;
    }

    #frontpage .browser-about {
        padding-left: 4px;
    }

    #frontpage div.support {
        margin: 1rem 0;
    }
        a.support {display: inline-block; opacity: 0.7;}
            a.support:hover{opacity: 1;}
            a.support.rhizome {padding: 6px 0 0 20px;}
            a.support.shuttleworth {margin: -6px 0 6px -3px;}
    

    .fold {}

       .fold > label:before {
           content: "";
           display: inline-block;
           width: 0;
           height: 0;
           border-top: 5px solid transparent;
           border-bottom: 5px solid transparent;
           border-left: 5px solid #222;
           margin-right: 8px
       }
       .fold.open > label:before {
           content: "";
           display: inline-block;
           width: 0;
           height: 0;
           border-right: 5px solid transparent;
           border-left: 5px solid transparent;
           border-top: 5px solid #222;
           margin-right: 8px
       }

       .fold > div {display: none}
       .fold.open > div {display: block}

    #invalid-form {
        display: none;
        font-size: 16px;
        color: red;
    }

/* replay page */

#page-replay {overflow: hidden;}

    /* fonts */

    #page-replay label,
    #browser-label,
    .browser-about {
        font-size: 11px;
    }

    label {font-weight: normal;}

    .datetime-string {
        font-family: "Monaco", "DejaVu Sans Mono", "Consolas", "Courier New", monospace;
        font-size: 16px;
        font-weight: normal;
    }

    /* app menu on the left */

    .header {
        padding: 8px;
        width: 310px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: visible;
    }

        .widget-group {margin-bottom: 1rem;}

            .widget-group label {margin-left: 4px;}

        .widget-group.timer {
            margin-bottom: 3rem;
        }

            #page-replay h1 {
                font-size: 32px;
                font-weight: normal;
                margin: 2px 0 4rem 4px; 
            }

                h1 a {
                    color: inherit;
                    text-decoration: inherit;
                }

            .widget-group.timer div.timer {
                position: absolute;
                top: 7px;
                text-align: center;
                right: 12px;
                width: 62px;
            }

                #expire {
                    display: block;
                    margin-left: 0;
                    text-align: center;
                }

        .widget-group.browser {
            margin-bottom: 4rem;
        }

        .widget-group.datetime {
            margin-bottom: 5rem;
        }

            #curr-date-info {margin-bottom: 1rem;}

                #curr-date {padding-left: 26px;}

            .rel_message {
                display: none;
                background: #1EAEDB;
                border-radius: 4px;
                color: white;
                margin: 1rem 4px 1rem 0;
                padding: 1rem 8px;
            }


        .widget-group.session-info {
            padding-left: 4px;
            display: none;
        }

            .spanning {
                margin: 1em;
            }
                .spanning div {text-align: center;}
                .spanning div:nth-child(2) {padding-top: 1em;}



                #statsCount {
                    font-weight: bold;
                }

        #viewSource {
            font-size: 11px;
            position: absolute;
            top: 758px;
            left: 260px;
        }

/* Area for browser */

#browser {
    position: absolute;
    top: 0px;
    left: 326px;
    right: 0;
    bottom: 0;
}

    #browserMsg {
        position: absolute;
        top: 50%;
        text-align: center;
        margin: -7rem auto 0px;
        font-size: 26px;
        width: 100%;
        background-position: top center;
        padding-top: 40px;
    }

    /* noVNC classes */
    #noVNC_screen {
        display: table;
        width: auto;
        height: auto;
        margin: auto;
        background-color:#313131;
        line-height: 0;
        margin-top: 8px;
    }

        #noVNC_canvas {
            margin: 0px;
            left: 0px;
            top: 0px;
        }







.hidden {
    display: none;
}





