<div id="browser-selector" class="selector-menu">
    <table>
        <thead>
            <tr>
                <th>Windows</th>
                <th>Macintosh</th>
                <th>Linux</th>
                <th class="menu-selector-close"><span>&#10006;</span></th>
            </tr>
        </thead>
        <tbody>
            <tr class="r-odd">
                <td></td>
                <td></td>
                <td data-path="mosaic" data-about-url="https://en.wikipedia.org/wiki/Mosaic_%28web_browser%29">
                    <img src="/static/icons/mosaic.png">
                    <label>2.2</label>
                    <input type="radio" name="browser" value="mosaic">
                </td>
                <th>NSCA Mosaic</th>
            </tr>

            <tr class="r-even">
                <td></td>
                <td data-path="nsmac3" data-about-url="https://en.wikipedia.org/wiki/Netscape_%28web_browser%29">
                    <img src="/static/icons/mac-ns2-3.png">
                    <label>3.04</label>
                    <input type="radio" name="browser" value="nsmac3">
                </td>
                <td></td>
                <th rowspan="3">Netscape Navigator</th>
            </tr>

            <tr class="r-even">
                <td data-path="nswin" data-about-url="https://en.wikipedia.org/wiki/Netscape_%28web_browser%29">
                    <img src="/static/icons/win32-ns4.png">
                    <label>4.08</label>
                    <input type="radio" name="browser" value="nswin">
                </td>
                <td data-path="nsmac4" data-about-url="https://en.wikipedia.org/wiki/Netscape_%28web_browser%29">
                    <img src="/static/icons/mac-ns4.png">
                    <label>4.08</label>
                    <input type="radio" name="browser" value="nsmac4">
                </td>
                <td data-path="nslinux" data-about-url="https://en.wikipedia.org/wiki/Netscape_%28web_browser%29">
                    <img src="/static/icons/win32-ns4.png">
                    <label>4.79</label>
                    <input type="radio" name="browser" value="nslinux">
                </td>
            </tr>

            <tr class="r-even">
                <td></td>
                <td data-path="nsmac4.8" data-about-url="https://en.wikipedia.org/wiki/Netscape_%28web_browser%29">
                    <img src="/static/icons/mac-ns4.png">
                    <label>4.8</label>
                    <input type="radio" name="browser" value="nsmac4.8">
                </td>
                <td></td>
            </tr>

            <tr class="r-odd">
                <td data-path="ie4" data-about-url="https://en.wikipedia.org/wiki/Internet_Explorer_4">
                    <img src="/static/icons/win32-ie4.png">
                    <label>4.0</label>
                    <input type="radio" name="browser" value="ie4" checked>
                </td>
                <td data-path="ie4mac" data-about-url="https://en.wikipedia.org/wiki/Internet_Explorer_for_Mac#Internet_Explorer_4.0_for_Macintosh">
                    <img src="/static/icons/mac-ie4.png">
                    <label>4.01</label>
                    <input type="radio" name="browser" value="ie4mac">
                </td>
                <td></td>
                <th rowspan="2">Internet Explorer</th>
            </tr>

            <tr class="r-odd">
                <td data-path="ie5.5" data-about-url="https://en.wikipedia.org/wiki/Internet_Explorer_5">
                    <img src="/static/icons/win32-ie5.5.png">
                    <label>5.5</label>
                    <input type="radio" name="browser" value="ie5.5">
                </td>
                <td data-path="ie5mac" data-about-url="https://en.wikipedia.org/wiki/Internet_Explorer_for_Mac#Internet_Explorer_5_Macintosh_Edition">
                    <img src="/static/icons/mac-ie5.1.png">
                    <label>5.1.7</label>
                    <input type="radio" name="browser" value="ie5mac">
                </td>
                <td></td>
            </tr>
            <tr class="r-even">
                <td data-path="safari" data-about-url="https://en.wikipedia.org/wiki/Safari_%28web_browser%29#Safari_5">
                    <img src="/static/icons/safari.png">
                    <label>5.0</label>
                    <input type="radio" name="browser" value="safari">
                </td>
                <td></td>
                <td></td>
                <th>Apple Safari</th>
            </tr>
            <tr class="r-odd">
                <td></td>
                <td></td>
                <td data-path="firefox" data-about-url="https://en.wikipedia.org/wiki/Firefox">
                    <img src="/static/icons/firefox.png">
                    <label>40</label>
                    <input type="radio" name="browser" value="firefox">
                </td>
                <th>Mozilla Firefox</th>
            </tr>
            <tr class="r-even">
                <td></td>
                <td></td>
                <td data-path="chrome" data-about-url="https://en.wikipedia.org/wiki/Google_Chrome">
                    <img src="/static/icons/chrome.png">
                    <label>46</label>
                    <input type="radio" name="browser" value="chrome">
                </td>
                <th>Google Chrome</th>
            </tr>
        </tbody>
    </table>
</div>

<div id="datetime-selector" class="selector-menu">
    <div class="menu-selector-close"><span>&#10006;</span></div>
    <div id="datetime-info"></div>
    <div id="spark"></div>
    <div class="timenav" style="display: none">
        <button>First</button>
        <button>Prev</button>
        <button>Next</button>
    </div>
</div>