<!doctype html>
<head>
    <meta charset="utf-8">
    <title>oldweb.today</title>
    {% include 'tracking.html' %}
    <script src="/static/jquery-2.1.4.min.js"></script>
    
    <!-- Skeleton -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/skeleton.css">
    
    <!-- Viz -->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/timemap.js"></script>

    <!-- Main Netcapsule script -->
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/dropdown.css">
    <script>
        var coll = undefined;
        var url = undefined;
        var curr_ts = undefined;
        
        $(function() {
            $("#mainform").submit(function(e) {
                e.preventDefault();
                
                url = $("#urlinput").val();
                
                if (!coll || !curr_ts || !url) {
                    $("#invalid-form").show();
                    return;
                }
                
                var full_url = window.location.origin + "/" + coll + "/" + curr_ts + "/" + url;
                window.location.href = full_url;
            });
            
            function reset_error() {
                if (coll && curr_ts && url) {
                    $("#invalid-form").hide();
                }
            }
            
            $("#urlinput").blur(reset_error);
            $("#browser-input").change(reset_error);
            
            $("#urlinput").blur(function() {
                url = $("#urlinput").val();
            });
            
            url = $("#urlinput").val();
                   
            function random_browser() {
                // Pick random browser
                var browsers = $("#browser-selector td[data-path]");
                if (browsers.length) {
                    var i = Math.round(Math.random() * browsers.length);
                    $(browsers[i]).trigger('click');
                }
            }
            
            setTimeout(random_browser, 50);

            $('.fold > label > a').on('click', function(){
                $(this).parent().parent().toggleClass('open');
            });

        });
    </script>
    <script src="/static/shared.js"></script>
</head>
<body id="frontpage">
    <main class="container">
        <h1 class="logo"><span class="colors">oldweb</span>.today</h1>

        <form id="mainform">
            <div class="row">
                <div class="one columns">
                    <label for="browser-dropdown">browser</label>
                </div>
                <div class="nine columns">
                    <div id="browser-dropdown" class="dropdown">
                        <span id="browser-icon-group">
                            <img id="browser-icon" class="hidden" src=""/>
                            <label id="browser-label"></label>
                        </span>
                        <span id="browser-text">Select a browser</span>
                        <div class="dropdown-button">
                            <span class="arrow-down"></span>
                        </div>
                    </div>
                    <label class="browser-about"><a id="about-link" href="#" target="_blank">about this browser</a></label>
                </div>
            </div>

            <div class="row">
                <div class="one columns">
                    <label for="urlinput">URL</label>
                </div>
                <div class="seven columns">
                    <input type="text" name="url" class="u-full-width" id="urlinput" value="" placeholder="http://">
                </div>
            </div>
            
            <div class="row">
                <div class="one columns">
                    <label for="datetime-dropdown">date</label>
                </div>
                <div class="nine columns">
                    <div id="datetime-dropdown" class="dropdown">
                        <input id="datetime" class="drop-skip datetime-string"/>
                        <div class="dropdown-button">
                            <span class="arrow-down"></span>
                        </div>
                    </div> 
                </div>
            </div>
            <div id="invalid-form">Please select a browser, url and a date.</div>
            <button type="submit" class="button-primary">Surf The Old Web!</button>
            <a class="button" href="/random">I'm feeling Random!</a>
            <div class="fold">
                <label><a>About / How it works</a></label>
                <div>
                    <strong>oldweb.today</strong> is built with open source tools:
                    <ul>
                        <li><a href="https://www.docker.com/">Docker containers</a> to manage user sessions and scale across machines.</li>

                        <li><a href="https://www.winehq.org/">Wine</a>, <a href="http://basilisk.cebix.net/">Basilisk</a> and <a href="http://sheepshaver.cebix.net/">Sheepshaver</a> and <a href="http://previous.alternative-system.com/">Previous</a> emulators are used to run old browsers on legacy platforms.</li>

                        <li><a href="https://github.com/ikreymer/pywb">pywb</a> is used as the web archive replay proxy system.</li>

                        <li><a href="https://kanaka.github.io/noVNC/">noVNC</a> provides VNC support in HTML over Websockets.</li>

                        <li>The <a href="http://mementoweb.org/about/">Memento Web API</a> and <a href="https://github.com/oduwsdl/memgator">MemGator</a> are used to communicate with web archives.</li>
                        <li>Random page list compiled with help from <a href="https://twitter.com/muffinista">@muffinista</a></li>
                    </ul>
                    <br>
                    <a href="https://github.com/ikreymer/netcapsule">Full source code available on Github.</a><br>
                    <br>
                    The archived web pages are available courtesy of these public web archives:
                    {% include 'archives-list.html' %}
                    <br>
                    <br>
                </div>
            </div>
        </form>

        <div class="row" class="section">
            <div class="seven columns">
                A project by <a href="https://github.com/ikreymer">Ilya Kreymer</a>, with support from:
                <div class="support">
                    <a class="support shuttleworth" href="https://www.shuttleworthfoundation.org/"><img src="/static/shuttleworth-tiny.png" alt="Shuttleworth Foundation"></a>
                    <a class="support rhizome" href="http://rhizome.org/editorial/2015/nov/30/oldweb-today/"><img src="/static/rhizome-tiny.png" alt="Rhizome"></a>
                </div>

                <div>Contact: oldweb.today@rhizome.org</div>
            </div>
        </div>

    </main>

    {% include 'browser-select.html' %}
</body>
