<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Netcapsule Web Archive Replay</title>
        <script src="/static/jquery-2.1.4.min.js"></script>

        <!-- noVNC Stylesheet and script -->
        <!--
        <link rel="stylesheet" href="/static/novnc/base.css" title="plain">-->
        <script src="/static/novnc/util.js"></script>

        <!-- Skeleton -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/skeleton.css">

        <!-- Main Netcapsule script -->
        <link rel="stylesheet" href="/static/main.css">
        <script>
            var coll = "{{ coll }}";
            var url = "{{ url }}";
            var curr_ts = "{{ ts }}";
        </script>
        <script src="/static/main.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="three column">
                    <nav class="header">
                        Date/Time:
                        <input id="ts" type="text" value="{{ ts }}"/>
                        <input id="update" type="button" value="Update"/>
                        <div class="rel_message">Date/time set, please click "reload" or "refresh" in the browser below.</div>
                        <div id="currLabel" class="header">Initializing Browser...</div>
                        <div id="hosts" class="hosts"></div>
                    </nav>
                </div>
                <div class="nine column">
                    <div id="noVNC_screen" class="browser">
                        <canvas id="noVNC_canvas" width="640px" height="20px">
                            Canvas not supported.
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
