<!DOCTYPE html>
<html lang="en">
    <head>
        <title>oldweb.today</title>
        <script src="/static/jquery-2.1.4.min.js"></script>

        <!-- noVNC script -->
        <script src="/static/novnc/util.js"></script>

        <!-- Skeleton -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/skeleton.css">

        <!-- Viz -->
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="/static/timemap.js"></script>

        <!-- Main Netcapsule script -->
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/dropdown.css">
        <script>
            var coll = "{{ coll }}";
            var url = "{{ url }}";
            var curr_ts = "{{ ts }}";
        </script>
        <script src="/static/shared.js"></script>
        <script src="/static/main.js"></script>
    </head>
    <body id="page-replay">
        <div class="header">

            <div class="widget-group timer">
                <h1>oldweb.today</h1>
                
                <div class="timer">Time Left
                    <span id="expire" class="datetime-string">0:00</span>
                </div>
            </div>
            
            <div class="widget-group browser">
                <div id="browser-dropdown" class="dropdown">
                    <span id="browser-icon-group">
                        <img id="browser-icon" src="/static/icons/{{ browser.icon }}"/>
                        <label id="browser-label">{{ browser.version }}</label>
                    </span>
                    <span id="browser-text">{{ browser.name }} on {{ browser.os }}</span>
                    <div class="dropdown-button">
                        <span class="arrow-down"></span>
                    </div>
                </div>

                <label class="browser-about"><a id="about-link" href="#" target="_blank">about this browser</a></label>
            </div>

            <div class="widget-group datetime">
                <label>Current Page Archived On:</label>
                <div id="curr-date-info" class="datetime-string loading">
                    <span id="curr-date">&nbsp;</span>
                    <span id="curr-time">&nbsp;</span>            
                </div>

                <label>Requested Date/Time:</label>

                <div id="datetime-dropdown" class="dropdown">
                    <input id="datetime" class="drop-skip datetime-string"/>
                    <div class="dropdown-button">
                        <span class="arrow-down"></span>
                    </div>
                </div>

                <div class="rel_message">Datetime changed, please click "reload" or "refresh" in the browser</div>
            </div>

            <div id="session-loading" class="loading">&nbsp;</div>
            
            <div class="widget-group session-info">

            <div>Loaded <span id="statsCount">0</span> resources, spanning</div>
            
                <div class="spanning row">
                    <div id="statsFrom" class="datetime-string five columns"></div>
                    <div class="two columns">to</div>
                    <div id="statsTo" class="datetime-string five columns"></div>     
                </div>

                <div id="statsHostsWrap">
                    <div>from public web archives:</div>
                    <ul id="statsHosts"></ul>
                </div>

            </div>
        </div> <!-- .header -->

        <div id="browser">
            <div id="browserMsg" class="loading">Initializing Browser…</div>
            <div id="noVNC_screen">
                <canvas id="noVNC_canvas" style="display: none">
                    Canvas not supported.
                </canvas>
            </div>
        </div>
        {% include 'browser-select.html' %}
    </body>
</html>
